html,
body {
  height: 100%;
}

#model_viewer {
  height: 80vh;
  width: 100%;
  /* margin: 0 auto; */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Generate Embed Code Button */
#generate-code-btn {
  background-color: #0072c6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#generate-code-btn:hover {
  background-color: #005cae;
}

#generate-code-btn i {
  margin-right: 5px;
}

/* Embed Code Container */
#embed-code-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#embed-code-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: slide-in 0.3s ease-in;
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

#embed-code {
  width: 100%;
  height: 150px;
  resize: none;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

#copy-wrapper {
  position: relative;
}

#copy-btn {
  background-color: #0072c6;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.2s;
}

#copy-btn:hover {
  background-color: #005cae;
}

#copy-btn i {
  margin-right: 5px;
}

#success-msg {
  position: absolute;
  top: -30px;
  right: -20px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.2s;
}
#close-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  font-size: 1rem;
  color: #666;
  cursor: pointer;
  background-color: transparent;
}
#close-btn:hover {
  color: darkgoldenrod;
}

#success-msg.show {
  opacity: 1;
  animation: fade-out 2s ease-out forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  #embed-code-wrapper {
    width: 90%;
  }
}
